name: add artifact links to pull request and related issues
on:
  workflow_run:
    workflows: [Pull request or push run that uploads artifacts]
    types: [completed]

jobs:
  artifacts-url-comments:
    name: add artifact links to pull request and related issues job .
    runs-on: windows-2019
    steps:
      - name: add artifact links to pull request and related issues step
        uses: tonyhallett/artifacts-url-comments@v1.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          prefix: Here are the artifacts
          suffix: Have a nice day.
          format: name
          addTo: pullandissues